<h2><%= @product.name %></h2>


<%= image_tag(@product.image.url(:original), class: 'media-object') %>


<h4><%= @product.category %></h4>
<h3><%= @product.price %></h3>

<hr>
  <p><%= @product.description %></p>
<hr>


<% if @product.reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <ul>
    <% @product.reviews.each do |review| %>
      <li>
        <%= review.rating %> - <%= review.author %> |
        <%= review.content %>

        <% if @user && @user.admin %>
          <%= link_to "Edit", edit_product_review_path(@product, review) %> |
          <%= link_to "Delete", product_review_path(@product, review),
                                :data => {:confirm => "Are you sure?",
                                :method => "delete"} %>
        <% end %>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>

<hr>
<% if @user %>
  <p><%= link_to "Add a review", new_product_review_path(@product) %></p>
  <hr>
<% end %>


<p><%= link_to "Return to Products", products_path %></p>
<% if @user && @user.admin %>
  <p><%= link_to "Edit Product", edit_product_path(@product) %></p>
  <p><%= link_to "Delete Product", product_path(@product),
                        :data => {:confirm => "You sure?",
                        :method => "delete"} %></p>
<% end %>


<hr>


<% if @product.tags.any? %>
  <h4>Here are the tags for this product:</h4>

  <ul>
    <% @product.tags.each do |tag| %>
      <li>
        <h2><%= tag.name %></h2>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="pushdown">
<%= form_for [@product, @tag] do |f| %>

  <div class="form-group">
    <%= f.label "Add a tag!" %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit  %>
<% end %>
</div>
