<!DOCTYPE html>
<html>
  <head>
    <title>BonAppetizers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
  </head>

  <body>


        <div id="sidebar">

          <div id="sidebardiv">
            <%= image_tag("cater.png", :alt => "rss feed") %><br><hr>
            <%= link_to "Home", "/" %><br><hr>
            <%= link_to "Services", "/products"%><br><hr>
            <%= link_to "Users", "/users"%><br><hr>
          </div>
          <%= flash[:alert] %>
          <%= flash[:notice] %>
        </div>


        <div id="header">

        </div>

        <div id="background">
          <h1 class="pushdown">Bon Appetizers</h1>
          <h1>Catering Services</h1>
        </div>

        <div id="content">

          <div id="minibackground">
          </div>

          <div id="output">
            <div id="outputyield">
            </div>
            </div>
          </div>

          <div id="parent">
            <div id="wide"><%= yield %></div>
            <div id="narrow"><div id="outputimage"></div>
          </div>


        </div>

        <div id="footer">
          <% if current_user %>
            <%= current_user.email %> | <%= link_to "Sign out", '/signout' %>
          <% else %>
            <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
          <% end %>
        </div>







  </body>
</html>
